body {
    display:none;
}

.card-f {
  transition: 1s ease-in-out;;
  transform-style: preserve-3d;
  margin: 0 auto;
  position: relative;
}

.card-f.is-flipped {
  transform: rotateY(180deg);
}

.card-f.is-flipped #chart_icon {
  display: none;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
}

.card__face--front {
  overflow: hidden;
  height: auto;
  min-height: 400px;
  background: white;
}

.card__face--back {
  height: auto;
  background: white;
  min-height: 400px;
  transform: rotateY(180deg);
}

#answer {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  box-sizing: content-box;
  font-size:3vw;
  padding: 0 .25em;
  margin: 55px auto 2% auto;
  width: 100%;
  height: 6vw;
  min-height: 35px;
  /*font-size: 28px;*/
  background: #cde4e7;
  color: #037889;
  /*padding: 0.2em;*/
}

#answer.incorrect {
  border: 3px solid red;
}

#answer.incorrect::placeholder{
  color: #ff3333;
}

.fa-fa-icon {
  color: black;
  font-size: calc(8px + .5vw);
  margin-right: 4px;
  text-decoration: none;
  position: absolute;
  right: 16px;
  top: 13px;
  cursor: pointer;
}


#close_modal_stat{
    display: none;
}

#new_word {
  display: none;
  position: absolute;
  top: 15px;
  left: 19px;
  font-size: calc(7px + .5vw);
  color: #40E0D0;
  font-weight: lighter;
}
.example{
  margin: 7% auto 2% auto;
  width: 60%;
  height: 70px;
  font-size: 2vw;
  display: none;
}
.example-ru{
  font-size: 1.4vw;
  color: grey;
}

.settings-container{
  margin: 20px;
  position: relative;
}
.settings-icon{
  font-size: 22px;
}
.settings-icon:hover{
  animation: rotateCogOne 5s infinite linear;
  color: red
}
.settings-icon.hovered{
  animation: rotateCogOne 5s infinite linear;
  color: red
}
.setings-dropdown-content{
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-10%, 20px);
  transition: .3s;
}
.settings-icon:hover ~ .setings-dropdown-content{
  visibility: visible;
  opacity: 1;
  transform: translate(0%, 0);
}
.setings-dropdown-content:hover{
  visibility: visible;
  opacity: 1;
  transform: translate(0%, 0);
}
.volume-box *{
    display: inline-block;
    vertical-align: middle;
}

select, option{ padding:4px;}
label{font-size: calc(8px + .5vw);}

.translation-row {
  font-size: 2vw;
}

#is_learned{
  display: none;
  position: absolute;
  left: 160px;
  bottom: -4px;
  margin-left: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-4px);
  color: green;
}

#progress {
    position: absolute;
    bottom: 0;
    width: 150px;
    left: 19px;
    height: 8px;
    margin: 30px auto;
}

#progress *{
    border-radius: 20px;
}

.daily_stat_icons {
  position: absolute;
  bottom: 11px;
  right: 18px;
}

.circle {
  padding: calc(6px + .5vw);
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: calc(8px + .5vw);
  height: calc(8px + .5vw);
  max-width: 10px;
  max-height: 10px;
}

.circle__number {
  font-size: calc(8px + .5vw);
  font-weight: lighter;
}

#new_words_a, #all_words_a {
  cursor: default;
}

#new_words {
  background: #CCE1E5;
}

#all_words {
  background: #F6D9E4;
}

#skip_example{
  display: none;
  width: 20%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#skip_example_icon{
  visibility: hidden;
  font-size: calc(48px + 3vw);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -51%);
}

#skip_example:hover {
  background-color: #c0e6e8;
  cursor: pointer;
  transform: scale(1.3);
  transition: 100ms linear;
}

#skip_example:hover #skip_example_icon{
  visibility: visible;
}
@keyframes rotateCogOne {
    0% {
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
    }
}


@media all and (max-width: 959px) and (min-width: 600px) {
  .card__face--front {
    min-height: 300px;
  }
  .card__face--back {
    min-height: 400px;
  }
  #answer{
    color: yellow;
    margin-top: 65px;
    font-size: 23px;
  }
  .example{
    margin-top: 65px;
    font-size: 20px;
  }
  .translation-row {
    font-size: 20px;
  }
  .example-ru{
  font-size: 16px;
  }
}

@media all and (max-width: 1100px) and (min-width: 960px) {
  .card__face--front{
    min-height: 350px;
  }
  #answer{
    margin-top: 60px;
  }
  .example{
    margin-top: 60px;
  }
}

@media all and (max-width: 1250px) and (min-width: 1100px) {
  #answer{
    margin-top: 85px;
  }
  .example{
    margin-top: 85px;
  }
}

@media all and (max-width: 1420px) and (min-width: 1210px) {
  .card__face--back {
    max-height: 440px;
  }
}


@media all and (max-width: 599px) and (min-width: 50px) {
  .card__face--front {
    min-height: 300px;
  }
  .card__face--back {
    min-height: 400px;
  }
  #answer{
    color: green;
    margin-top: 65px;
    font-size: 20px;
  }
  .example{
    margin-top: 65px;
    font-size: 20px;
  }
  .translation-row {
    font-size: 20px;
  }
  .example-ru{
  font-size: 16px;
  }
  .card__face--back {
    padding: 0;
  }
  #progress {
    width: 60px;
  }

  #is_learned {
    left: 70px;
  }

  .daily_stat_icons {
    bottom: 15px;
  }
}

@media all and (max-width: 400px) and (min-width: 50px) {
  .setings-dropdown-content{
    width: 200px;
    align-items: center;
  }
  .volume-box {
    width: 70px;
    text-align: center;
  }
  .volume-box input, select {
    width: 80px;
    font-size: 7px;
  }
}