{% extends "index.html" %}
{% load static %}
{% block title %}Добавить слово{% endblock %}
{% block content %}
{% load mainapp_tags %}
    <form method="post" id="words_form">
        {% csrf_token %}
        <div class="container_form">
            <h1 id="form_title">{% block form_title %}Добавить новое слово{% endblock %}</h1>
            {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
            </div>
            {% endfor %}
            {% if form.errors %}
            <div class="alert alert-danger" style='text-align: center; margin-top: 10px' role="alert">
                {% if not form.non_field_errors %}
                    Введите корректные данные.
                    {% for error in form.errors.items %}
                        <div>{{form|getattr:error.0}}: {{error.1|lower}}</div>
                    {% endfor %}
                {% else %}
                    {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% endif %}
            <div style="text-align: center">
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">{% block button_title %}Добавить слово{% endblock %}</button>
            </div>
        </div>
    </form>
    <link rel="stylesheet" href="{% static 'css/add_edit_word_form.css' %}">
{% endblock %}
